In [ ]:
import pandas as pd

## Read file database from google sheets.

In [ ]:
from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
creds, _ = default()

gc = gspread.authorize(creds)

### Read CAN_HO dataset.

In [ ]:
worksheet = gc.open_by_url('https://docs.google.com/spreadsheets/d/1qgcNjlO3h8SDn1mYJZjF5obfdxMkO2dMVqiNn4AHpFA/edit#gid=0').get_worksheet(0)

In [ ]:
rows = worksheet.get_all_values()
can_ho = pd.DataFrame.from_records(rows[1:], columns=rows[0])

In [ ]:
can_ho.columns

Index(['id_can_ho', 'du_an', 'loai_can_ho', 'ma_can', 'nhu_cau',
       'tinh_hinh_can_ho', 'gia_can_ho', 'ghi_chu', 'thoi_han_hop_dong_thue',
       'view', 'dien_tich', 'noi_that', 'thue_phi', 'tinh_trang_cuoc_goi',
       'id_nhan_su', 'nhan_vien', 'thoi_gian_cap_nhat', 'thai_do_chu_nha',
       'thoi_gian_don_vo', 'so_dien_thoai', 'ho_ten_chu_ho', 'file',
       'thoi_gian_di_xem', 'ghi_am_full', 'ghi_am_chu_nha',
       'nhan_vien_cap_nhat_bot', 'thoi_gian_cap_nhat_bot', 'gia_ban',
       'gia_thue', 'phi_quan_ly', 'ro_hang', 'Thông Tin Căn Hộ',
       'Thông Tin Cuộc Gọi', 'nghe_may_gan_nhat', 'id_sale_hop_tac',
       'ro_hang_lk'],
      dtype='object')

In [ ]:
can_

In [ ]:
can_ho.dtypes

NameError: ignored

In [ ]:
can_ho.infer_objects().dtypes

id_can_ho                 object
du_an                     object
loai_can_ho               object
ma_can                    object
nhu_cau                   object
tinh_hinh_can_ho          object
gia_can_ho                object
ghi_chu                   object
thoi_han_hop_dong_thue    object
view                      object
dien_tich                 object
noi_that                  object
thue_phi                  object
tinh_trang_cuoc_goi       object
id_nhan_su                object
nhan_vien                 object
thoi_gian_cap_nhat        object
thai_do_chu_nha           object
thoi_gian_don_vo          object
so_dien_thoai             object
ho_ten_chu_ho             object
file                      object
thoi_gian_di_xem          object
ghi_am_full               object
ghi_am_chu_nha            object
nhan_vien_cap_nhat_bot    object
thoi_gian_cap_nhat_bot    object
gia_ban                   object
gia_thue                  object
phi_quan_ly               object
ro_hang                   object
Thông Tin Căn Hộ          object
Thông Tin Cuộc Gọi        object
nghe_may_gan_nhat         object
id_sale_hop_tac           object
ro_hang_lk                object
dtype: object

### Read CHU_HO dataset.

In [ ]:
worksheet = gc.open_by_url('https://docs.google.com/spreadsheets/d/1qgcNjlO3h8SDn1mYJZjF5obfdxMkO2dMVqiNn4AHpFA/edit#gid=0').get_worksheet(2)

In [ ]:
rows = worksheet.get_all_values()
chu_ho = pd.DataFrame.from_records(rows[1:], columns=rows[0])

In [ ]:
chu_ho.shape

(10752, 10)

In [ ]:
chu_ho.head(5)

,id_chu_ho,id_can_ho,ho_ten,so_dien_thoai,doi_tuong,email_chu_ho,facebook,zalo,trang_thai,nha_mang
0,CNH_ykjo4Lm9,CHO_HC6Dre98,Nguyễn Thị Ngọc,+84903320688,,cannguyenvan62@yahoo.com,,,,Mobifone
1,CNH_EpXVcl4k,CHO_0Xk2oMqN,Vũ Thanh Thái,+84703033838,,dvthanh1955@gmail.com,,,,Vinaphone
2,CNH_O7nVZh5G,CHO_0Xk2oMqN,Vũ Thanh Thái,+84918900995,,dvthanh1955@gmail.com,,,,Vinaphone
3,CNH_M8o6yar6,CHO_wofiAlaI,Nguyễn Nữ Uyên Phương,+84932892897,,uyenphuog1012@gmail.com,,,,Mobifone
4,CNH_3qdSjsvE,CHO_wofiAlaI,Nguyễn Nữ Uyên Phương,+84936335415,,uyenphuog1012@gmail.com,,,,Mobifone

## Read file lake view data.

In [ ]:
data= pd.read_excel('/content/drive/MyDrive/Data/Process_Data/Lake View City Quận 2/Lake View City.xlsx')

In [ ]:
data.head(5)

                 ho_ten so_dien_thoai    ma_can          kkhu
0          Trần Văn Nga     913936888  CL1.1-10  central lake
1           Dịp Mỹ Linh     968888251  CL1.2-50  central lake
2        Nguyễn Bá Dũng     979026676  CL3.1-22  central lake
3         Uông Xuân Thọ     982524554  CL3.1-47  central lake
4  Nguyễn Thị Khánh Hoà     909019398  CL3.1-48  central lake

In [ ]:
data.shape

(339, 4)

In [ ]:
data.loc[336]

ho_ten           Phạm Hi Bách \nTRần Thanh Mai
so_dien_thoai          01279683999\n0914182992
ma_can                                  EL2-27
kkhu                                       NaN
Name: 336, dtype: object

## Processing data.

In [ ]:
data.head(5)

                 ho_ten so_dien_thoai    ma_can          kkhu
0          Trần Văn Nga     913936888  CL1.1-10  central lake
1           Dịp Mỹ Linh     968888251  CL1.2-50  central lake
2        Nguyễn Bá Dũng     979026676  CL3.1-22  central lake
3         Uông Xuân Thọ     982524554  CL3.1-47  central lake
4  Nguyễn Thị Khánh Hoà     909019398  CL3.1-48  central lake

In [ ]:
data['du_can']='Lake View City'

In [ ]:
data.head(5)

                 ho_ten so_dien_thoai    ma_can          kkhu          du_can
0          Trần Văn Nga     913936888  CL1.1-10  central lake  Lake View City
1           Dịp Mỹ Linh     968888251  CL1.2-50  central lake  Lake View City
2        Nguyễn Bá Dũng     979026676  CL3.1-22  central lake  Lake View City
3         Uông Xuân Thọ     982524554  CL3.1-47  central lake  Lake View City
4  Nguyễn Thị Khánh Hoà     909019398  CL3.1-48  central lake  Lake View City

In [ ]:
data = data.drop(data.columns[3], axis=1)

In [ ]:
data.head(5)

                 ho_ten so_dien_thoai    ma_can          du_can
0          Trần Văn Nga     913936888  CL1.1-10  Lake View City
1           Dịp Mỹ Linh     968888251  CL1.2-50  Lake View City
2        Nguyễn Bá Dũng     979026676  CL3.1-22  Lake View City
3         Uông Xuân Thọ     982524554  CL3.1-47  Lake View City
4  Nguyễn Thị Khánh Hoà     909019398  CL3.1-48  Lake View City

### Xử lý cột số điện thoại.

In [ ]:
import re

def format_phone_numbers(phone_numbers):
    """
    Chuyển đổi các số điện thoại thành định dạng chuẩn.
    """
    # Loại bỏ các khoảng trắng và ký tự không cần thiết

    phone_numbers=str(phone_numbers).replace('\n',';')
    phone_numbers = re.sub('[^0-9;+]', '', phone_numbers)
    
    # Chuyển đổi các số điện thoại thành định dạng chuẩn
    formatted_numbers = []
    for phone_number in phone_numbers.split(';'):
        if phone_number.startswith('+'):
            formatted_numbers.append(phone_number)
        elif len(phone_number) == 10:
            formatted_numbers.append('+84' + phone_number[1:])
        elif len(phone_number) == 11 and phone_number.startswith('0'):
            formatted_numbers.append('+84' + phone_number[1:])
        elif len(phone_number) < 9 and phone_number.startswith('+'):
            formatted_numbers=formatted_numbers
        elif len(phone_number) == 9 :
            formatted_numbers.append('+84' + phone_number)    
        elif len(phone_number) < 9 :
            formatted_numbers=formatted_numbers
        else:
            formatted_numbers.append(phone_number)
    formatted_numbers = list(set(formatted_numbers))
    for i in formatted_numbers:
      if i == "":
        formatted_numbers.remove(i)
      if len(i) >=15: 
        formatted_numbers.remove(i)
    # Kiểm tra độ dài của phần tử hiện tại
    """if len(formatted_numbers) < 3:
        # Thêm các giá trị 0 vào cuối phần tử để đạt độ dài bằng 5
        formatted_numbers += [''] * (3 - len(formatted_numbers))
    elif len(formatted_numbers) > 3:
        # Nếu phần tử có độ dài lớn hơn 3, thì cắt bớt đến độ dài 3
        formatted_numbers = formatted_numbers[:3]"""

    
    return formatted_numbers
    # Ghép các số điện thoại thành một chuỗi ngăn cách bằng dấu ';'
    #return '; '.join(formatted_numbers)

In [ ]:
data['so_dien_thoai']=data['so_dien_thoai'].apply(format_phone_numbers)

### Sinh id can ho.

In [ ]:
data['id_can_ho'] = ""

In [ ]:
data

,ho_ten,so_dien_thoai,ma_can,du_can,id_can_ho
0,Trần Văn Nga,[+84913936888],CL1.1-10,Lake View City,
1,Dịp Mỹ Linh,[+84968888251],CL1.2-50,Lake View City,
2,Nguyễn Bá Dũng,[+84979026676],CL3.1-22,Lake View City,
3,Uông Xuân Thọ,[+84982524554],CL3.1-47,Lake View City,
4,Nguyễn Thị Khánh Hoà,[+84909019398],CL3.1-48,Lake View City,
...,...,...,...,...,...
334,Phùng Vĩnh Đạt,[+84903754992],EL2-24,Lake View City,
335,Nguyên Thị Mỹ hạnh,[+84947438388],EL2-24,Lake View City,
336,Phạm Hi Bách \nTRần Thanh Mai,"[+84914182992, +841279683999]",EL2-27,Lake View City,
337,Vũ thị Lữ,[+84935850909],EL2-28,Lake View City,
338,Phan thanh thuỷ,[+84972295954],EL2-30,Lake View City,

In [ ]:
def get__elements(lst):
    result = []
    for item in lst:
        first_five = item[4:]  # Lấy 5 giá trị đầu tiên của phần tử
        result.append(first_five)
    return result

In [ ]:
id_chu_ho_prev = chu_ho['id_chu_ho'].tolist()
id_chu_ho_prev=get__elements(id_chu_ho_prev)

In [ ]:
id_can_ho_prev = can_ho['id_can_ho'].tolist()

In [ ]:
id_can_ho_prev=get__elements(id_can_ho_prev)

In [ ]:
import string
import random

def generate_id(existing_ids):
  while True:
    letters_and_digits = string.ascii_letters + string.digits
    new_id = ''.join((random.choice(letters_and_digits) for i in range(8)))
    if new_id not in existing_ids:
          return new_id
# Sử dụng hàm generate_id để tạo ra một ID mới
my_id = generate_id(id_can_ho_prev)
print(my_id)

MaVDPami

In [ ]:
data["id_can_ho"] =  data["id_can_ho"].apply( lambda x : "CHO_" + generate_id(id_can_ho_prev) )

In [ ]:
data

,ho_ten,so_dien_thoai,ma_can,du_can,id_can_ho
0,Trần Văn Nga,[+84913936888],CL1.1-10,Lake View City,CHO_U0hW4tcR
1,Dịp Mỹ Linh,[+84968888251],CL1.2-50,Lake View City,CHO_b7krY1Sc
2,Nguyễn Bá Dũng,[+84979026676],CL3.1-22,Lake View City,CHO_MoGc96qJ
3,Uông Xuân Thọ,[+84982524554],CL3.1-47,Lake View City,CHO_eU5B6Yf0
4,Nguyễn Thị Khánh Hoà,[+84909019398],CL3.1-48,Lake View City,CHO_hQBMXORT
...,...,...,...,...,...
334,Phùng Vĩnh Đạt,[+84903754992],EL2-24,Lake View City,CHO_bOVeLo0r
335,Nguyên Thị Mỹ hạnh,[+84947438388],EL2-24,Lake View City,CHO_B2GrphVr
336,Phạm Hi Bách \nTRần Thanh Mai,"[+84914182992, +841279683999]",EL2-27,Lake View City,CHO_JP071KsQ
337,Vũ thị Lữ,[+84935850909],EL2-28,Lake View City,CHO_dlsZlP9y
338,Phan thanh thuỷ,[+84972295954],EL2-30,Lake View City,CHO_KpWLbCYm

In [ ]:
data.shape

(339, 5)

### ĐỔ BẢNG CHỦ HO.

In [ ]:
data_copy = data.copy()

In [ ]:
df_exploded = data_copy.explode('so_dien_thoai')

In [ ]:
df_exploded

,ho_ten,so_dien_thoai,ma_can,du_can,id_can_ho
0,Trần Văn Nga,+84913936888,CL1.1-10,Lake View City,CHO_U0hW4tcR
1,Dịp Mỹ Linh,+84968888251,CL1.2-50,Lake View City,CHO_b7krY1Sc
2,Nguyễn Bá Dũng,+84979026676,CL3.1-22,Lake View City,CHO_MoGc96qJ
3,Uông Xuân Thọ,+84982524554,CL3.1-47,Lake View City,CHO_eU5B6Yf0
4,Nguyễn Thị Khánh Hoà,+84909019398,CL3.1-48,Lake View City,CHO_hQBMXORT
...,...,...,...,...,...
335,Nguyên Thị Mỹ hạnh,+84947438388,EL2-24,Lake View City,CHO_B2GrphVr
336,Phạm Hi Bách \nTRần Thanh Mai,+84914182992,EL2-27,Lake View City,CHO_JP071KsQ
336,Phạm Hi Bách \nTRần Thanh Mai,+841279683999,EL2-27,Lake View City,CHO_JP071KsQ
337,Vũ thị Lữ,+84935850909,EL2-28,Lake View City,CHO_dlsZlP9y
338,Phan thanh thuỷ,+84972295954,EL2-30,Lake View City,CHO_KpWLbCYm

In [ ]:
df_exploded["id_chu_ho"]=''

In [ ]:
df_exploded["id_chu_ho"] = df_exploded["id_chu_ho"].apply( lambda x : "CNH_" + generate_id(id_chu_ho_prev) )

In [ ]:
df_exploded.shape

(366, 6)

In [ ]:
df_exploded.to_excel('/content/drive/MyDrive/Data/Process_Data/Lake View City Quận 2/chu_ho.xlsx', index=False)

In [ ]:
df_unique = df_exploded.drop_duplicates(subset=['id_can_ho'])

In [ ]:
df_unique.shape

(339, 5)

In [ ]:
df_unique.to_excel('/content/drive/MyDrive/Data/Process_Data/Lake View City Quận 2/can_ho.xlsx', index=False)